* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.luma-container {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  position: relative;
}


/* Scrollbar fine et moderne */
* {
  scrollbar-width: thin;
  scrollbar-color: #b0afae transparent;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #b0afae;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

*:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* Disparait quand on ne scrolle pas */
.scroll-container {
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container:hover {
  scrollbar-width: thin;
}

.scroll-container:hover::-webkit-scrollbar {
  display: block;
  width: 3px;
}